// .modal {
//     background-color: rgba(0, 0, 0, 0.7);
// }
.modal-header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.modal-body {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dialog-footer {
    background-color: rgba(0, 0, 0, 0.8);
}