.btn {
    button {
        margin-left: 15px;
    }
}

.add-new {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.inputField-Inventory {
    div {
        margin-right: 1.5rem;
    }
}